<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/ErrorPage.css"/>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Sorry, Gautam hasn't built this page yet.</h1>
          <h1><small><font face="Tahoma" color="red"> [Error 404] </font></small></h1>
          <br />
          <p>The webpage that you requested could not be found, sorry. Please click the <b> button </b> below to go back to the homepage, or the <b> Back </b> button to go to the previous page. </p>
          <a href="http://www.gautamk.us" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Go Back Home </a>
      </div>
      <br />
    </div>
  </div>
</div>
</body>

</html>