<!DOCTYPE html>

<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>

    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>

    <title> Gautam's Website </title>

    <link rel="shortcut icon" href="static/images/favicon.ico">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand name-title" href="/" color="#FFFFFF"> <b> Gautam Kanumuru <i class="fa fa-child fa-lg"></i> </b>
                    </a>
                </div>

                <div class="text-container">
                    <div class="navbar-collapse collapse navbar-responsive-collapse nav-bar-menu"> 

                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Me<b class="caret"></b></a>
                                <ul class="dropdown-menu drop-down-items">
                                    <li><a href="#" target="_newtab">Resume</a></li>
                                    <li><a href="http://github.com/vrk7bp" target="_newtab">GitHub</a></li>
                                    <li><a href="http://www.linkedin.com/pub/gautam-kanumuru/61/931/7a3" target="_newtab">LinkedIn</a></li>
                                    <li class="divider"></li>
                                    <li><a href="aboutme">About Gautam</a></li>
                                    <li class="divider"></li>
                                    <li><a href="aboutsite">About This Website</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="projects">Projects </a>
                            </li>

                            <li>
                                <a href="pubs">Publications</a>
                            </li>

                            <li>
                                <a href="contact">Contact</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div> <!-- End the Nav Bar -->


        <div class="container">
          <br>
          <div class="row-fluid">
            <div class="span10 offsetHalf">
                
                <i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
            </div>
          </div>
           <br><br><br>
            <div class="row-fluid">
              <h1 class="pull-center"><strong>BOOTSTRAP FIXED BACKGROUND</strong></h1>
              <p class="lead pull-center">A scrolling one page example layout</p>
            </div>  
          <br><br><br><br>
          <div class="row-fluid">
            
                <div class="span5 offsetHalf block">
                  <div class="pull-center">
                    <h1>Responsive Design</h1>
                    Take a look at what we mixed up in our Bootstrap test labs.
                    Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. <br>
                    <h1><i class="icon-beaker icon-4x"></i></h1>
                    <button class="btn btn-primary btn-flat">Go Here<i class="pull-right icon-chevron-right icon-large"></i></button>
                  </div>
                </div>
                <div class="span5 block">
                  <div class="pull-center">
                    <h1>2013 Trends</h1>
                    With all of the front-end frameworks at hand, why does Bootstrap lead? 
                    Aliquam mauris arcu, tristique a, condimentum feugiat justo.<br>
                    <h1><i class="icon-fire icon-4x"></i></h1>
                    <button class="btn btn-primary btn-flat">Go There<i class="pull-right icon-chevron-right icon-large"></i></button>
                  </div>
                </div>
              
          </div>  
            <br><br><br>
            <div class="row-fluid">
                <h3 class="pull-center">Featuring</h3>
            </div>  
          <br><br>
          <div class="row-fluid">
            <div class="span12">
              <div class="span3 block block-sm offsetHalf1">
              <h2>Build</h2>
                Bootply is a playground for Twitter Bootstrap.
              </div>
              <div class="span3 block block-sm">
              <h2>Design</h2>
                Use Bootply to design, prototype, extend the Bootstrap framework.
              </div>
              <div class="span3 block block-sm">
              <h2>Test</h2>
                Use Bootply to test and debud Bootstrap designs.
              </div>
            </div>
            </div>
        </div><!---/cont---->
        <br><br>
        <div class="container">  
            <div class="row-fluid">
                <a href="http://www.bootply.com/64531" title="Bootstrap playground">Play with this on Bootply</a>
                <div class="pull-right">
                    <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp; 
                    <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp; 
                    <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
                </div>
            </div>
        </div>


      <div id="push"></div>
    </div>

    <br><br>

    <div id="footer">
      <div class="container">
        <p class="text-center"> <strong> The code for this site can be accessed <a href="http://www.github.com/vrk7bp/gautamwebsite"> here </a>. </strong> </p>
      </div>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- CDN for Bootstrap JavaScript-->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>